.hdr { font: 12px; font-color: #D1D1D1 sans-serif; }
.hdr .tick {stroke: #FF0000; stroke-width:1px}
.box { font: 10px sans-serif; }
.box line, .box rect, .box circle { stroke: #333333; stroke-width: 1.5px; fill: #3A70B5; }
.box .tick {stroke: #E0E0E0; stroke-width:1px}
.box .center { stroke-dasharray: 3 3; }
.box .outlier { stroke: #D1D1D1; fill: #EEEEEE; }
