			<DIV class="edit_header1">Summary</DIV><BR><BR>
		BIRN Phantom QC Summary

			   #set ($qcAssessorScans = $om.getScans_scan())
			   <table bgColor=white cellPadding=0 cellSpacing=0 width=80%>
				<tr>
				  <TH style="border-bottom-color:rgb(255,153,51); border-top-style:none; border-right-style:none; border-bottom-style:solid; border-left-style:none;" align=left> Scan </TH>
				<TH style="border-bottom-color:rgb(255,153,51); border-top-style:none; border-right-style:none; border-bottom-style:solid; border-left-style:none;" align=left> Mean </TH>
				<TH style="border-bottom-color:rgb(255,153,51); border-top-style:none; border-right-style:none; border-bottom-style:solid; border-left-style:none;" align=left> SNR </TH> 
				  <TH style="border-bottom-color:rgb(255,153,51); border-top-style:none; border-right-style:none; border-bottom-style:solid; border-left-style:none;" align=left> Std. Dev. </TH> 
				  <TH style="border-bottom-color:rgb(255,153,51); border-top-style:none; border-right-style:none; border-bottom-style:solid; border-left-style:none;" align=left> SFNR </TH> 
				  <TH style="border-bottom-color:rgb(255,153,51); border-top-style:none; border-right-style:none; border-bottom-style:solid; border-left-style:none;" align=left> % Fluc. </TH> 
				  <TH style="border-bottom-color:rgb(255,153,51); border-top-style:none; border-right-style:none; border-bottom-style:solid; border-left-style:none;" align=left> Drift </TH> 
				  <TH style="border-bottom-color:rgb(255,153,51); border-top-style:none; border-right-style:none; border-bottom-style:solid; border-left-style:none;" align=left> RDC </TH> 
				  <TH style="border-bottom-color:rgb(255,153,51); border-top-style:none; border-right-style:none; border-bottom-style:solid; border-left-style:none;" align=left> FWHMX </TH> 
				  <TH style="border-bottom-color:rgb(255,153,51); border-top-style:none; border-right-style:none; border-bottom-style:solid; border-left-style:none;" align=left> FWHMY </TH> 
				  <TH style="border-bottom-color:rgb(255,153,51); border-top-style:none; border-right-style:none; border-bottom-style:solid; border-left-style:none;" align=left> FWHMZ </TH> 
				  <TH style="border-bottom-color:rgb(255,153,51); border-top-style:none; border-right-style:none; border-bottom-style:solid; border-left-style:none;" align=left> Ghost </TH> 
				  <TH style="border-bottom-color:rgb(255,153,51); border-top-style:none; border-right-style:none; border-bottom-style:solid; border-left-style:none;" align=left> BrightGhost </TH> 
				  <TH style="border-bottom-color:rgb(255,153,51); border-top-style:none; border-right-style:none; border-bottom-style:solid; border-left-style:none;" align=left> DriftFit </TH> 
				
				</tr>
			   #foreach($qcScan in $qcAssessorScans)
				#set ($htmlFile = $qcScan.getScanstatistics().getAddfield("BIRN_AGAR_HTML").getAddfield())

				  <tr>
					  <td><a href="$content.getURI($htmlFile)">$qcScan.getId()</a> </td>
					  <td>$!qcScan.getScanstatistics().getMean()</td>
					  <td>$!qcScan.getScanstatistics().getSnr()</td>
					  <td>$!qcScan.getScanstatistics().getStddev()</td>
					  <td>$!qcScan.getScanstatistics().getAdditionalstatistics("SFNR").getAdditionalstatistics()</td>
					  <td>$!qcScan.getScanstatistics().getAdditionalstatistics("PercentFluctuation").getAdditionalstatistics()</td>
					  <td>$!qcScan.getScanstatistics().getAdditionalstatistics("Drift").getAdditionalstatistics()</td>
					  <td>$!qcScan.getScanstatistics().getAdditionalstatistics("rdc").getAdditionalstatistics()</td>
					  <td>$!qcScan.getScanstatistics().getAdditionalstatistics("meanfwhmx").getAdditionalstatistics()</td>
					  <td>$!qcScan.getScanstatistics().getAdditionalstatistics("meanfwhmy").getAdditionalstatistics()</td>
					  <td>$!qcScan.getScanstatistics().getAdditionalstatistics("meanfwhmz").getAdditionalstatistics()</td>
					  <td>$!qcScan.getScanstatistics().getAdditionalstatistics("meanghost").getAdditionalstatistics()</td>
					  <td>$!qcScan.getScanstatistics().getAdditionalstatistics("meanbrightghost").getAdditionalstatistics()</td>
					  <td>$!qcScan.getScanstatistics().getAdditionalstatistics("driftfit").getAdditionalstatistics()</td>

				  </tr>
			   #end
			   
			   </table>
				
			  <br>

<br/>
		BIRN Human  QC Summary

			   #set ($qcAssessorScans = $om.getScans_scan())
			   <table bgColor=white cellPadding=0 cellSpacing=0 width=80%>
				<tr>
				  <TH style="border-bottom-color:rgb(255,153,51); border-top-style:none; border-right-style:none; border-bottom-style:solid; border-left-style:none;" align=left> Scan </TH>
				<TH style="border-bottom-color:rgb(255,153,51); border-top-style:none; border-right-style:none; border-bottom-style:solid; border-left-style:none;" align=left> Mean </TH>
				<TH style="border-bottom-color:rgb(255,153,51); border-top-style:none; border-right-style:none; border-bottom-style:solid; border-left-style:none;" align=left> SNR </TH> 
				  <TH style="border-bottom-color:rgb(255,153,51); border-top-style:none; border-right-style:none; border-bottom-style:solid; border-left-style:none;" align=left> SFNR </TH> 
				  <TH style="border-bottom-color:rgb(255,153,51); border-top-style:none; border-right-style:none; border-bottom-style:solid; border-left-style:none;" align=left> FWHMX </TH> 
				  <TH style="border-bottom-color:rgb(255,153,51); border-top-style:none; border-right-style:none; border-bottom-style:solid; border-left-style:none;" align=left> FWHMY </TH> 
				  <TH style="border-bottom-color:rgb(255,153,51); border-top-style:none; border-right-style:none; border-bottom-style:solid; border-left-style:none;" align=left> FWHMZ </TH> 
				</tr>
			   #foreach($qcScan in $qcAssessorScans)
				  <tr>
				      	#set ($humanHtmlFile = $qcScan.getScanstatistics().getAddfield("BIRN_HUMAN_HTML").getAddfield())
					  <td><a href="$content.getURI($humanHtmlFile)"> $qcScan.getId()</a> </td>
					  <td>$qcScan.getScanstatistics().getAdditionalstatistics("BIRN_HUMAN_MEAN").getAdditionalstatistics()</td>
					  <td>$qcScan.getScanstatistics().getAdditionalstatistics("BIRN_HUMAN_SNR").getAdditionalstatistics()</td>
					  <td>$qcScan.getScanstatistics().getAdditionalstatistics("BIRN_HUMAN_SFNR").getAdditionalstatistics()</td>
					  <td>$qcScan.getScanstatistics().getAdditionalstatistics("BIRN_HUMAN_MEAN_MASKED_FWHMX").getAdditionalstatistics()</td>
					  <td>$qcScan.getScanstatistics().getAdditionalstatistics("BIRN_HUMAN_MEAN_MASKED_FWHMY").getAdditionalstatistics()</td>
					  <td>$qcScan.getScanstatistics().getAdditionalstatistics("BIRN_HUMAN_MEAN_MASKED_FWHMZ").getAdditionalstatistics()</td>
				  </tr>
			   #end
			   </table>

