<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("Satisfaction Survey Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end

<style>
	table.fixed {
		table-layout: fixed;
		width: 650px;
	}
	.comment-box {
		font-family: Times !important;
		font-size: 120%;
		border: 1px solid #cccccc;
		overflow: hidden;
		width: 640px;
		padding: 5px;
	}
</style>

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>HCP Participant Satisfaction Survey</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<table class="info">
							#parse("/screens/ProjSubjExptHeader.vm")
							<tr><td>Date:</td><td>$!item.getProperty("hcp:surveyData/date")</td></tr>
							<tr><td>Rater:</td><td>$!item.getProperty("hcp:surveyData/rater")</td></tr>
						</table>
						<br>
						<TABLE class="fixed">
							<tr><td width="10px"><b>1.</b></td><td>How would you rate your experience while participating in the Human Connectome Project?</td></tr>
							<tr><td> </td><td><em>Rating:</em> <b>$!item.getProperty("hcp:surveyData/experience/scale")</b> out of 10</td></tr>
							<tr><td> </td><td><em>Comment:</em></td></tr>
							<tr><td> </td><td class="comment-box">$!item.getStringProperty("hcp:surveyData/experience/comment")</td></tr>
							<tr><td>&nbsp;</td></tr>

							<tr><td><b>2.</b></td><td>How would you rate communication with HCP staff?</td></tr>
							<TR><td> </td><TD><em>Rating:</em> <b>$!item.getProperty("hcp:surveyData/communication/scale")</b> out of 10</TD></TR>
							<tr><td> </td><td><em>Comment:</em></td> </tr>
							<tr><td> </td><TD class="comment-box">$!item.getStringProperty("hcp:surveyData/communication/comment")</TD></tr>
							<tr><td>&nbsp;</td></tr>
							#set ($project = $item.getStringProperty("hcp:surveyData/project"))
							#if ($project == "HCP_Phase2" || $project == "Phase2_Retest")
								<tr><td><b>3.</b></td><td>How would you describe the accommodations provided to you during your stay in St. Louis?<br>Please include travel, experience at Parkway Hotel, etc.</td></tr>
							#elseif ($item.getStringProperty("hcp:surveyData/project") == "Phase2_7T")
								<tr><td><b>3.</b></td><td>How would you describe the accommodations provided to you during your stay in Minneapolis?<br>Please include travel, experience at Days Inn Hotel, etc.</td></tr>
							#end
							<TR><td> </td><TD><em>Rating:</em> <b>$!item.getProperty("hcp:surveyData/accommodations/scale")</b> out of 10</TD></TR>
							<tr><td> </td><TD><em>Comment:</em></TD></tr>
							<tr><td> </td><TD class="comment-box">$!item.getStringProperty("hcp:surveyData/accommodations/comment")</TD></tr>
							<tr><td>&nbsp;</td></tr>

							<tr><td><b>4.</b></td><td>How likely are you to recommend the Human Connectome Project to family or friends who may be eligible?</td></tr>
							<TR><td> </td><TD><em>Rating:</em> <b>$!item.getProperty("hcp:surveyData/recommend/scale")</b> out of 10</TD></TR>
							<tr><td> </td><TD><em>Comment:</em></TD></tr>
							<tr><td> </td><TD class="comment-box">$!item.getStringProperty("hcp:surveyData/recommend/comment")</TD></tr>
							<tr><td>&nbsp;</td></tr>

							<tr><td><b>5.</b></td><td>Finally, do you have any suggestions or recommendations to improve the experience for future participants in the HCP Study?<b></td></tr>
							<tr><td> </td><TD><em>Comment:</em></TD></tr>
							<tr><td> </td><TD class="comment-box">$!item.getStringProperty("hcp:surveyData/suggestions/comment")</TD></tr>

						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")


