<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("ASRRaw Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
	#set ($popup = $data.getParameters().getString("popup") )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD colspan=2>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>ASR RawData Assessment Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>


	<TR>
		<TD>
    		<TABLE width="100%">
			   <TR><TD>	
				#parse("/screens/ProjSubjExptHeader.vm")
    			</TD></TR>
               		<TR><TD>	
				
			   </TD></TR>
				<TR>
					<TD width="35%" align="left">Assessment Date</TD>
					<TD align="left">$!item.getStringProperty("gur:ASRRawData/date")</TD>
				</TR>
    		</TABLE>
        	</TD>
		<TD valign="top" align="right" style="padding-left:150px">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</TD>
	</TR>

	<TR>
		<TD colspan=2>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>

       		<TR>
        			<TH colspan=4 align="left" style='font-size:small;padding-top:10px;padding-bottom:10px'>Section IX</TH>
        		</TR>


						<TR><TD>1. I am too forgetful</TD> 
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_001")</TD></TR>
						<TR><TD>2. I make good use of my opportunities</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_002")</TD></TR>
						<TR><TD>3. I argue a lot</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_003")</TD></TR>
						<TR><TD>4. I work up to my ability</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_004")</TD></TR>
						<TR><TD>5. I blame others for my problems</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_005")</TD></TR>
						<TR><TD>6. I use drugs (other than alcohol or nicotine) for nonmedical purposes</TD>
							<TD>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_006")</TD>
						<TD>6. Describe:</TD>
							<TD colspan=3>$!item.getStringProperty("gur:ASRRawData/SectionIX/ASR_006_text")</TD></TR>
						<TR><TD>7. I brag</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_007")</TD></TR>
						<TR><TD>8. I have trouble concentrating or paying attention for long</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_008")</TD></TR>
						<TR><TD>9. I can't get my mind off certain thoughts</TD>
							<TD>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_009")</TD>
						<TD>9. Describe:</TD>
							<TD colspan=3>$!item.getStringProperty("gur:ASRRawData/SectionIX/ASR_009_text")</TD></TR>
						<TR><TD>10. I have trouble sitting still</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_010")</TD></TR>
						<TR><TD>11. I am too dependent on others</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_011")</TD></TR>
						<TR><TD>12. I feel lonely</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_012")</TD></TR>
						<TR><TD>13. I feel confused or in a fog</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_013")</TD></TR>
						<TR><TD>14. I cry a lot</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_014")</TD></TR>
						<TR><TD>15. I am pretty honest</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_015")</TD></TR>
						<TR><TD>16. I am mean to others</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_016")</TD></TR>
						<TR><TD>17. I daydream a lot</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_017")</TD></TR>
						<TR><TD>18. I deliberately try to hurt or kill myself</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_018")</TD></TR>
						<TR><TD>19. I try to get a lot of attention</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_019")</TD></TR>
						<TR><TD>20. I damage or destroy my things</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_020")</TD></TR>
						<TR><TD>21. I damage or destroy things belonging to others</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_021")</TD></TR>
						<TR><TD>22. I worry about my future</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_022")</TD></TR>
						<TR><TD>23. I break rules at work or elsewhere</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_023")</TD></TR>
						<TR><TD>24. I don't eat as well as I should</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_024")</TD></TR>
						<TR><TD>25. I don't get along with other people</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_025")</TD></TR>
						<TR><TD>26. I don't feel guilty after doing something I shouldn't</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_026")</TD></TR>
						<TR><TD>27. I am jealous of others</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_027")</TD></TR>
						<TR><TD>28. I get along badly with my family</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_028")</TD></TR>
						<TR><TD>29. I am afraid of certain animals, situations, or places</TD>
							<TD>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_029")</TD>
						<TD>29. Describe:</TD>
							<TD colspan=3>$!item.getStringProperty("gur:ASRRawData/SectionIX/ASR_029_text")</TD></TR>
						<TR><TD>30. My relations with the opposite sex are poor</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_030")</TD></TR>
						<TR><TD>31. I am afraid I might think or do something bad</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_031")</TD></TR>
						<TR><TD>32. I feel that I have to be perfect</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_032")</TD></TR>
						<TR><TD>33. I feel that no one loves me</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_033")</TD></TR>
						<TR><TD>34. I feel that others are out to get me</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_034")</TD></TR>
						<TR><TD>35. I feel worthless or inferior</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_035")</TD></TR>
						<TR><TD>36. I accidentally get hurt a lot, accident-prone</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_036")</TD></TR>
						<TR><TD>37. I get in many fights</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_037")</TD></TR>
						<TR><TD>38. My relations with neighbors are poor</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_038")</TD></TR>
						<TR><TD>39. I hang around people who get in trouble</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_039")</TD></TR>
						<TR><TD>40. I hear sounds or voices that other people think aren't there</TD>
							<TD>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_040")</TD>
						<TD>40. Describe:</TD>
							<TD colspan=3>$!item.getStringProperty("gur:ASRRawData/SectionIX/ASR_040_text")</TD></TR>
						<TR><TD>41. I am impulsive or act without thinking</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_041")</TD></TR>
						<TR><TD>42. I would rather be alone than with others</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_042")</TD></TR>
						<TR><TD>43. I lie or cheat</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_043")</TD></TR>
						<TR><TD>44. I feel overwhelmed by my responsibilities</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_044")</TD></TR>
						<TR><TD>45. I am nervous or tense</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_045")</TD></TR>
						<TR><TD>46. Parts of my body twitch or make nervous movements</TD>
							<TD>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_046")</TD>
						<TD>46. Describe:</TD>
							<TD colspan=3>$!item.getStringProperty("gur:ASRRawData/SectionIX/ASR_046_text")</TD></TR>
						<TR><TD>47. I lack self-confidence</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_047")</TD></TR>
						<TR><TD>48. I am not liked by others</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_048")</TD></TR>
						<TR><TD>49. I can do certain things better than other people</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_049")</TD></TR>
						<TR><TD>50. I am too fearful or anxious</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_050")</TD></TR>
						<TR><TD>51. I feel dizzy or lightheaded</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_051")</TD></TR>
						<TR><TD>52. I feel too guilty</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_052")</TD></TR>
						<TR><TD>53. I have trouble planning for the future</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_053")</TD></TR>
						<TR><TD>54. I feel tired without good reason</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_054")</TD></TR>
						<TR><TD>55. My mood swings between elation and depression</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_055")</TD></TR>
						<TR><TD><b>56 [a-f]: Physical problems without known medical cause</b></TD></TR>
						<TR><TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;56a. Aches or pains (not stomach or headaches)</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_056a")</TD></TR>
						<TR><TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;56b. Headaches</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_056b")</TD></TR>
						<TR><TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;56c. Nausea, feel sick</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_056c")</TD></TR>
						<TR><TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;56d. Problems with eyes (not if corrected by glasses)</TD>
							<TD>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_056d")</TD>
						<TD>56d. Describe:</TD>
							<TD colspan=3>$!item.getStringProperty("gur:ASRRawData/SectionIX/ASR_056d_text")</TD></TR>
						<TR><TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;56e. Rashes or other skin problems</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_056e")</TD></TR>
						<TR><TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;56f. Stomachaches</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_056f")</TD></TR>
						<TR><TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;56g. Vomiting, throwing up</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_056g")</TD></TR>
						<TR><TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;56h. Heart pounding or racing</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_056h")</TD></TR>
						<TR><TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;56i. Numbness or tingling in body parts</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_056i")</TD></TR>
						<TR><TD>57. I physically attack people</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_057")</TD></TR>
						<TR><TD>58. I pick skin or other parts of my body</TD>
							<TD>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_058")</TD>
						<TD>58. Describe:</TD>
							<TD colspan=3>$!item.getStringProperty("gur:ASRRawData/SectionIX/ASR_058_text")</TD></TR>
						<TR><TD>59. I fail to finish things I should do</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_059")</TD></TR>
						<TR><TD>60. There is very little that I enjoy</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_060")</TD></TR>
						<TR><TD>61. My work performance is poor</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_061")</TD></TR>
						<TR><TD>62. I am poorly coordinated or clumsy</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_062")</TD></TR>
						<TR><TD>63. I would rather be with older people than with people of own age</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_063")</TD></TR>
						<TR><TD>64. I have trouble setting priorities</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_064")</TD></TR>
						<TR><TD>65. I refuse to talk</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_065")</TD></TR>
						<TR><TD>66. I repeat certain acts over and over</TD>
							<TD>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_066")</TD>
						<TD>66. Describe:</TD>
							<TD colspan=3>$!item.getStringProperty("gur:ASRRawData/SectionIX/ASR_066_text")</TD></TR>
						<TR><TD>67. I have trouble making or keeping friends</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_067")</TD></TR>
						<TR><TD>68. I scream or yell a lot</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_068")</TD></TR>
						<TR><TD>69. I am secretive or keeps things to myself</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_069")</TD></TR>
						<TR><TD>70. I see things that other people think aren't there</TD>
							<TD>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_070")</TD>
						<TD>70. Describe:</TD>
							<TD colspan=3>$!item.getStringProperty("gur:ASRRawData/SectionIX/ASR_070_text")</TD></TR>
						<TR><TD>71. I am self-conscious or easily embarrassed</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_071")</TD></TR>
						<TR><TD>72. I worry about my family</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_072")</TD></TR>
						<TR><TD>73. I meet my responsibilities to my family</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_073")</TD></TR>
						<TR><TD>74. I show off or clown</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_074")</TD></TR>
						<TR><TD>75. I am too shy or timid</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_075")</TD></TR>
						<TR><TD>76. My behavior is irresponsible</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_076")</TD></TR>
						<TR><TD>77. I sleep more than most other people during day and/or night</TD>
							<TD>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_077")</TD>
						<TD>77. Describe:</TD>
							<TD colspan=3>$!item.getStringProperty("gur:ASRRawData/SectionIX/ASR_077_text")</TD></TR>
						<TR><TD>78. I have trouble making decisions</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_078")</TD></TR>
						<TR><TD>79. I have a speech problem</TD>
							<TD>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_079")</TD>
						<TD>79. Describe:</TD>
							<TD colspan=3>$!item.getStringProperty("gur:ASRRawData/SectionIX/ASR_079_text")</TD></TR>
						<TR><TD>80. I stand up for my rights</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_080")</TD></TR>
						<TR><TD>81. My behavior is very changeable</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_081")</TD></TR>
						<TR><TD>82. I steal</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_082")</TD></TR>
						<TR><TD>83. I am easily bored</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_083")</TD></TR>
						<TR><TD>84. I do things that other people think are strange</TD>
							<TD>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_084")</TD>
						<TD>84. Describe:</TD>
							<TD colspan=3>$!item.getStringProperty("gur:ASRRawData/SectionIX/ASR_084_text")</TD></TR>
						<TR><TD>85. I have thoughts that other people would think are strange</TD>
							<TD>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_085")</TD>
						<TD>85. Describe:</TD>
							<TD colspan=3>$!item.getStringProperty("gur:ASRRawData/SectionIX/ASR_085_text")</TD></TR>
						<TR><TD>86. I am stubborn, sullen or irritable</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_086")</TD></TR>
						<TR><TD>87. My moods or feelings change suddenly</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_087")</TD></TR>
						<TR><TD>88. I enjoy being with people</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_088")</TD></TR>
						<TR><TD>89. I rush into things without considering the risks</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_089")</TD></TR>
						<TR><TD>90. I drink too much alcohol or get drunk</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_090")</TD></TR>
						<TR><TD>91. I think about killing myself</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_091")</TD></TR>
						<TR><TD>92. I do things that may cause me trouble with the law</TD>
							<TD>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_092")</TD>
						<TD>92. Describe:</TD>
							<TD colspan=3>$!item.getStringProperty("gur:ASRRawData/SectionIX/ASR_092_text")</TD></TR>
						<TR><TD>93. I talk too much</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_093")</TD></TR>
						<TR><TD>94. I tease others a lot</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_094")</TD></TR>
						<TR><TD>95. I have a hot temper</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_095")</TD></TR>
						<TR><TD>96. I think about sex too  much</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_096")</TD></TR>
						<TR><TD>97. I threaten to hurt people</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_097")</TD></TR>
						<TR><TD>98. I like to help others</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_098")</TD></TR>
						<TR><TD>99. I dislike staying in one place for very long</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_099")</TD></TR>
						<TR><TD>100. I have trouble sleeping</TD>
							<TD>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_100")</TD>
						<TD>100. Describe:</TD>
							<TD colspan=3>$!item.getStringProperty("gur:ASRRawData/SectionIX/ASR_100_text")</TD></TR>
						<TR><TD>101. I stay away from my job even when I'm not sick or not on vacation</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_101")</TD></TR>
						<TR><TD>102. I don't have much energy</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_102")</TD></TR>
						<TR><TD>103. I am unhappy, sad or depressed</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_103")</TD></TR>
						<TR><TD>104. I am louder than others</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_104")</TD></TR>
						<TR><TD>105. People think I am disorganized</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_105")</TD></TR>
						<TR><TD>106. I try to be fair to others</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_106")</TD></TR>
						<TR><TD>107. I feel that I can't succeed</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_107")</TD></TR>
						<TR><TD>108. I tend to lose things</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_108")</TD></TR>
						<TR><TD>109. I like to try new things </TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_109")</TD></TR>
						<TR><TD>110. I wish I were of the opposite sex</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_110")</TD></TR>
						<TR><TD>111. I keep from getting involved with others</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_111")</TD></TR>
						<TR><TD>112. I worry a lot</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_112")</TD></TR>
						<TR><TD>113. I worry about my relations with the opposite sex</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_113")</TD></TR>
						<TR><TD>114. I fail to pay my debts or meet other financial responsibilities</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_114")</TD></TR>
						<TR><TD>115. I feel restless or fidgety</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_115")</TD></TR>
						<TR><TD>116. I get upset too easily</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_116")</TD></TR>
						<TR><TD>117. I have trouble managing money or credit cards</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_117")</TD></TR>
						<TR><TD>118. I am too impatient</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_118")</TD></TR>
						<TR><TD>119. I am not good at details</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_119")</TD></TR>
						<TR><TD>120. I drive too fast</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_120")</TD></TR>
						<TR><TD>121. I tend to be late for appointments</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_121")</TD></TR>
						<TR><TD>122. I have trouble keeping a job</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_122")</TD></TR>
						<TR><TD>123. I am a happy person</TD>
							<TD colspan=3>$!item.getIntegerProperty("gur:ASRRawData/SectionIX/ASR_123")</TD></TR>



						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>

</TABLE>

