<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("ASRScoring Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
	#set ($popup = $data.getParameters().getString("popup") )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD colspan=2>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>GUR Scoring Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>

	<TR>
		<TD>
    		<TABLE width="100%">
			   <TR><TD>	
				#parse("/screens/ProjSubjExptHeader.vm")
    			</TD></TR>
               		<TR><TD>	
				
			   </TD></TR>
				<TR>
					<TD width="35%" align="left">Assessment Date</TD>
					<TD align="left">$!item.getStringProperty("gur:GURScoringData/date")</TD>
				</TR>
    		</TABLE>
        	</TD>
	<TD valign="top" align="right" style="padding-left:150px">
						#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
					</TD>
	</TR>




	<TR>
		<TD colspan=2>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>


	<TR>
		<TH colspan=2 align="left" style='font-size:large'><br>HCPPNP (Mars Letter Contrast Sensitivity) Data<br></TH>
	</TR>
	<TR>
		<TD colspan=2>
			<TABLE>
        		<TR>
        			<TH align="left">Description</TH>
        			<TH>Value</TH>
        		</TR>
        		<TR>
        			<TD>Eye</TD>
        			<TD style="text-align:center">$!item.getStringProperty("gur:GURScoringData/HCPPNP/eye")</TD>
        		</TR>
        		<TR>
        			<TD>Correction</TD>
        			<TD style="text-align:center">$!item.getStringProperty("gur:GURScoringData/HCPPNP/correction")</TD>
        		</TR>
        		<TR>
        			<TD>Subject Test Results</TD>
        			<TD style="text-align:center">$!item.getStringProperty("gur:GURScoringData/HCPPNP/ftest1")</TD>
        		</TR>
        		<TR>
        			<TD>Subject Retest Results</TD>
        			<TD style="text-align:center">$!item.getStringProperty("gur:GURScoringData/HCPPNP/ftest2")</TD>
        		</TR>
        		<TR>
        			<TD>Color Vision Category</TD>
        			<TD style="text-align:center">$!item.getStringProperty("gur:GURScoringData/HCPPNP/color_vision")</TD>
        		</TR>
        		<TR>
        			<TD style="font-weight:bold">MARS Log CS value at final correct letter</TD>
        			<TD style="text-align:center">$!item.getStringProperty("gur:GURScoringData/HCPPNP/mars_log_score")</TD>
        		</TR>
        		<TR>
        			<TD style="font-weight:bold">MARS number of errors prior to final correct letter</TD>
        			<TD style="text-align:center">$!item.getStringProperty("gur:GURScoringData/HCPPNP/mars_errs")</TD>
        		</TR>
        		<TR>
        			<TD style="font-weight:bold">MARS Log Contrast Sensitivity Final Score</TD>
        			<TD style="text-align:center">$!item.getStringProperty("gur:GURScoringData/HCPPNP/mars_final")</TD>
        		</TR>
	    		</TABLE>
    		</TD>
	</TR>
	<TR>
		<TH colspan=2 align="left" style='font-size:large'><br>DDISC (Delay Discounting) Data<br></TH>
	</TR>
	<TR>
		<TD colspan=2>
			<TABLE>
        		<TR>
        			<TH align="left">Description</TH>
        			<TH>Value</TH>
        		</TR>
        		<TR>
        			<TD>Subject Value for Delay of 1mo, Delay Amount $200</TD>
        			<TD style="text-align:center">$!item.getDoubleProperty("gur:GURScoringData/DDISC/SV_1mo_200")</TD>
        		</TR>
        		<TR>
        			<TD>Subject Value for Delay of 6mo, Delay Amount $200</TD>
        			<TD style="text-align:center">$!item.getDoubleProperty("gur:GURScoringData/DDISC/SV_6mo_200")</TD>
        		</TR>
        		<TR>
        			<TD>Subject Value for Delay of 1yr, Delay Amount $200</TD>
        			<TD style="text-align:center">$!item.getDoubleProperty("gur:GURScoringData/DDISC/SV_1yr_200")</TD>
        		</TR>
        		<TR>
        			<TD>Subject Value for Delay of 3yr, Delay Amount $200</TD>
        			<TD style="text-align:center">$!item.getDoubleProperty("gur:GURScoringData/DDISC/SV_3yr_200")</TD>
        		</TR>
        		<TR>
        			<TD>Subject Value for Delay of 5yr, Delay Amount $200</TD>
        			<TD style="text-align:center">$!item.getDoubleProperty("gur:GURScoringData/DDISC/SV_5yr_200")</TD>
        		</TR>
        		<TR>
        			<TD>Subject Value for Delay of 10yr, Delay Amount $200</TD>
        			<TD style="text-align:center">$!item.getDoubleProperty("gur:GURScoringData/DDISC/SV_10yr_200")</TD>
        		</TR>
        		<TR>
        			<TD>Subject Value for Delay of 1mo, Delay Amount $40000</TD>
        			<TD style="text-align:center">$!item.getDoubleProperty("gur:GURScoringData/DDISC/SV_1mo_40000")</TD>
        		</TR>
        		<TR>
        			<TD>Subject Value for Delay of 6mo, Delay Amount $40000</TD>
        			<TD style="text-align:center">$!item.getDoubleProperty("gur:GURScoringData/DDISC/SV_6mo_40000")</TD>
        		</TR>
        		<TR>
        			<TD>Subject Value for Delay of 1yr, Delay Amount $40000</TD>
        			<TD style="text-align:center">$!item.getDoubleProperty("gur:GURScoringData/DDISC/SV_1yr_40000")</TD>
        		</TR>
        		<TR>
        			<TD>Subject Value for Delay of 3yr, Delay Amount $40000</TD>
        			<TD style="text-align:center">$!item.getDoubleProperty("gur:GURScoringData/DDISC/SV_3yr_40000")</TD>
        		</TR>
        		<TR>
        			<TD>Subject Value for Delay of 5yr, Delay Amount $40000</TD>
        			<TD style="text-align:center">$!item.getDoubleProperty("gur:GURScoringData/DDISC/SV_5yr_40000")</TD>
        		</TR>
        		<TR>
        			<TD>Subject Value for Delay of 10yr, Delay Amount $40000</TD>
        			<TD style="text-align:center">$!item.getDoubleProperty("gur:GURScoringData/DDISC/SV_10yr_40000")</TD>
        		</TR>
        		<TR>
        			<TD style="font-weight:bold">Area Under the Curve for Delay Amount $200</TD>
        			<TD style="text-align:center">$!item.getDoubleProperty("gur:GURScoringData/DDISC/AUC_200")</TD>
        		</TR>
        		<TR>
        			<TD style="font-weight:bold">Area Under the Curve for Delay Amount $40000</TD>
        			<TD style="text-align:center">$!item.getDoubleProperty("gur:GURScoringData/DDISC/AUC_40000")</TD>
        		</TR>
	    		</TABLE>
    		</TD>
	</TR>
	<TR>
		<TH colspan=2 align="left" style='font-size:large'><br>NEO (NEO-FFI Five Factor Personality Inventory) Data<br></TH>
	</TR>
	<TR>
		<TD colspan=2>
			<TABLE>
        		<TR>
        			<TH align="left">Factor</TH>
        			<TH>Score</TH>
        		</TR>
        		<TR>
        			<TD>Combined Factor (Total) Score</TD>
        			<TD style="text-align:center">$!item.getStringProperty("gur:GURScoringData/NEO/NEO")</TD>
        		</TR>
        		<TR>
        			<TD>Factor A (Agreeableness)</TD>
        			<TD style="text-align:center">$!item.getStringProperty("gur:GURScoringData/NEO/NEOFAC_A")</TD>
        		</TR>
        		<TR>
        			<TD>Factor O (Openness to Experience)</TD>
        			<TD style="text-align:center">$!item.getStringProperty("gur:GURScoringData/NEO/NEOFAC_O")</TD>
        		</TR>
        		<TR>
        			<TD>Factor C (Conscientiousness)</TD>
        			<TD style="text-align:center">$!item.getStringProperty("gur:GURScoringData/NEO/NEOFAC_C")</TD>
        		</TR>
        		<TR>
        			<TD>Factor N (Neuroticism)</TD>
        			<TD style="text-align:center">$!item.getStringProperty("gur:GURScoringData/NEO/NEOFAC_N")</TD>
        		</TR>
        		<TR>
        			<TD>Factor E (Extraversion)</TD>
        			<TD style="text-align:center">$!item.getStringProperty("gur:GURScoringData/NEO/NEOFAC_E")</TD>
        		</TR>
	    		</TABLE>
    		</TD>
	</TR>
	<TR>
		<TH colspan=2 align="left" style='font-size:large'><br>SPCPTNL (Short Continuous Performance Test) Data<br></TH>
	</TR>
	<TR>
		<TD colspan=2>
			<TABLE>
        		<TR>
        			<TH align="left">Description</TH>
        			<TH>Value</TH>
        		</TR>
        		<TR>
        			<TD>Short CPT True Positives = Sum of CPN_TP and CPL_TP</TD>
        			<TD style="text-align:center">$!item.getDoubleProperty("gur:GURScoringData/SPCPTNL/SCPT_TP")</TD>
        		</TR>
        		<TR>
        			<TD>Short CPT True Negatives = Sum of CPN_TN and CPL_TN</TD>
        			<TD style="text-align:center">$!item.getDoubleProperty("gur:GURScoringData/SPCPTNL/SCPT_TN")</TD>
        		</TR>
        		<TR>
        			<TD>Short CPT False Positives = Sum of CPN_FP and CPL_FP</TD>
        			<TD style="text-align:center">$!item.getDoubleProperty("gur:GURScoringData/SPCPTNL/SCPT_FP")</TD>
        		</TR>
        		<TR>
        			<TD>Short CPT False Negatives = Sum of CPN_FN and CPL_FN</TD>
        			<TD style="text-align:center">$!item.getDoubleProperty("gur:GURScoringData/SPCPTNL/SCPT_FN")</TD>
        		</TR>
        		<TR>
        			<TD style="font-weight:bold">Median Response Time for Short CPT True Positive Responses</TD>
        			<TD style="text-align:center">$!item.getDoubleProperty("gur:GURScoringData/SPCPTNL/SCPT_TPRT")</TD>
        		</TR>
        		<TR>
        			<TD style="font-weight:bold">Sensitivity = SCPT_TP/(SCPT_TP + SCPT_FN)</TD>
        			<TD style="text-align:center">$!item.getDoubleProperty("gur:GURScoringData/SPCPTNL/SCPT_SEN")</TD>
        		</TR>
        		<TR>
        			<TD style="font-weight:bold">Specificity = SCPT_TN/(SCPT_TN + SCPT_FP)</TD>
        			<TD style="text-align:center">$!item.getDoubleProperty("gur:GURScoringData/SPCPTNL/SCPT_SPEC")</TD>
        		</TR>
        		<TR>
        			<TD style="font-weight:bold">NumLet CPT (Longest Run of Non-Responses)</TD>
        			<TD style="text-align:center">$!item.getDoubleProperty("gur:GURScoringData/SPCPTNL/SCPT_LRNR")</TD>
        		</TR>
	    		</TABLE>
    		</TD>
	</TR>
	<TR>
		<TH colspan=2 align="left" style='font-size:large'><br>CPW (Computerized Penn Word Memory) Data<br></TH>
	</TR>
	<TR>
		<TD colspan=2>
			<TABLE>
        		<TR>
        			<TH align="left">Description</TH>
        			<TH>Value</TH>
        		</TR>
        		<TR>
        			<TD>CPW Total Correct Reponses</TD>
        			<TD style="text-align:center">$!item.getStringProperty("gur:GURScoringData/CPW/IWRD_TOT")</TD>
        		</TR>
        		<TR>
        			<TD>Median Response Time for CPW Total Correct Reponses (ms)</TD>
        			<TD style="text-align:center">$!item.getStringProperty("gur:GURScoringData/CPW/IWRD_RTC")</TD>
        		</TR>
	    		</TABLE>
    		</TD>
	</TR>
	<TR>
		<TH colspan=2 align="left" style='font-size:large'><br>PMAT24A (Progressive Matricies) Data<br></TH>
	</TR>
	<TR>
		<TD colspan=2>
			<TABLE>
        		<TR>
        			<TH align="left">Description</TH>
        			<TH>Value</TH>
        		</TR>
        		<TR>
        			<TD>PMAT24 Correct Reponses for Form A</TD>
        			<TD style="text-align:center">$!item.getStringProperty("gur:GURScoringData/PMAT24A/PMAT24_A_CR")</TD>
        		</TR>
        		<TR>
        			<TD>PMAT24 Total Skipped Items (items not presented because maximum errors allowed reached) for Form A</TD>
        			<TD style="text-align:center">$!item.getStringProperty("gur:GURScoringData/PMAT24A/PMAT24_A_SI")</TD>
        		</TR>
        		<TR>
        			<TD>Median Response Time for Correct PMAT24 Reponses (ms)</TD>
        			<TD style="text-align:center">$!item.getStringProperty("gur:GURScoringData/PMAT24A/PMAT24_A_RTCR")</TD>
        		</TR>
	    		</TABLE>
    		</TD>
	</TR>
	<TR>
		<TH colspan=2 align="left" style='font-size:large'><br>VSPLOT24 (Visiospatial) Data<br></TH>
	</TR>
	<TR>
		<TD colspan=2>
			<TABLE>
        		<TR>
        			<TH align="left">Description</TH>
        			<TH>Value</TH>
        		</TR>
        		<TR>
        			<TD>Total Correct</TD>
        			<TD style="text-align:center">$!item.getDoubleProperty("gur:GURScoringData/VSPLOT24/VSPLOT_TC")</TD>
        		</TR>
        		<TR>
        			<TD>Median of Redsponse Time Divided by Expected Number of Clicks for Correct Trials</TD>
        			<TD style="text-align:center">$!item.getDoubleProperty("gur:GURScoringData/VSPLOT24/VSPLOT_CRTE")</TD>
        		</TR>
        		<TR>
        			<TD>Total Positions Off for All Trials</TD>
        			<TD style="text-align:center">$!item.getDoubleProperty("gur:GURScoringData/VSPLOT24/VSPLOT_OFF")</TD>
        		</TR>
	    		</TABLE>
    		</TD>
	</TR>
	<TR>
		<TH colspan=2 align="left" style='font-size:large'><br>ER40 (Expression Recognition) Data<br></TH>
	</TR>
	<TR>
		<TD colspan=2>
			<TABLE>
        		<TR>
        			<TH align="left">Description</TH>
        			<TH>Value</TH>
        		</TR>
        		<TR>
        			<TD>ER40 Correct Responses</TD>
        			<TD style="text-align:center">$!item.getStringProperty("gur:GURScoringData/ER40/ER40_CR")</TD>
        		</TR>
        		<TR>
        			<TD>ER40 Correct Responses Median Response Time (ms)</TD>
        			<TD style="text-align:center">$!item.getStringProperty("gur:GURScoringData/ER40/ER40_CRT")</TD>
        		</TR>
        		<TR>
        			<TD>ER40 Correct Anger Identifications</TD>
        			<TD style="text-align:center">$!item.getStringProperty("gur:GURScoringData/ER40/ER40ANG")</TD>
        		</TR>
        		<TR>
        			<TD>ER40 Correct Fear Identifications</TD>
        			<TD style="text-align:center">$!item.getStringProperty("gur:GURScoringData/ER40/ER40FEAR")</TD>
        		</TR>
        		<TR>
        			<TD>ER40 Correct Happy Identifications</TD>
        			<TD style="text-align:center">$!item.getStringProperty("gur:GURScoringData/ER40/ER40HAP")</TD>
        		</TR>
        		<TR>
        			<TD>ER40 Correct Neutral Identifications</TD>
        			<TD style="text-align:center">$!item.getStringProperty("gur:GURScoringData/ER40/ER40NOE")</TD>
        		</TR>
        		<TR>
        			<TD>ER40 Correct Sad Identifications</TD>
        			<TD style="text-align:center">$!item.getStringProperty("gur:GURScoringData/ER40/ER40SAD")</TD>
        		</TR>
	    		</TABLE>
    		</TD>
	</TR>
	<TR>
		<TH colspan=2 align="left" style='font-size:large'><br>ASR Syndrom Scale Computed Scores<br></TH>
	</TR>
	<TR>
		<TD colspan=2>
			<TABLE>
        		<TR>
        			<TH colspan=4 align="left" style='font-size:small;padding-top:10px;padding-bottom:10px'>ASR Total Score</TH>
        		</TR>
        		<TR>
        			<TH align="left">Description</TH>
        			<TH>Raw Score</TH>
        			<TH>T-Score</TH>
				<!--
        			<TH>Notation</TH>
				-->
        		</TR>
        		<TR>
        			<TD>Computed Sum (Total)</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_computed_total_raw")</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_computed_total_t")</TD>
				<!--
        			<TD>$!item.getStringProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_computed_total_note")</TD>
				-->
        		</TR>
        		<TR>
        			<TH colspan=4 align="left" style='font-size:small;padding-top:10px;padding-bottom:10px'>Internalizing/Externalizing/Other Scores</TH>
        		</TR>
        		<TR>
        			<TH align="left">Description</TH>
        			<TH>Raw Score</TH>
        			<TH>T-Score</TH>
				<!--
        			<TH>Notation</TH>
				-->
        		</TR>
        		<TR>
        			<TD>Internalizing</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_computed_internalizing_raw")</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_computed_internalizing_t")</TD>
				<!--
        			<TD>$!item.getStringProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_computed_internalizing_note")</TD>
				-->
        		</TR>
        		<TR>
        			<TD>Externalizing</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_computed_externalizing_raw")</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_computed_externalizing_t")</TD>
				<!--
        			<TD>$!item.getStringProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_computed_externalizing_note")</TD>
				-->
        		</TR>
        		<TR>
        			<TD>Thought/Attention/Other</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_computed_other_raw")</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_computed_other_t")</TD>
				<!--
        			<TD>$!item.getStringProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_computed_other_note")</TD>
				-->
        		</TR>
        		<TR>
        			<TH colspan=4 align=left style='font-size:small;padding-top:10px;padding-bottom:10px'>Problem Category Scores</TH>
        		</TR>
        		<TR>
        			<TH align="left">Description</TH>
        			<TH>Raw Score</TH>
        			<TH>T-Score</TH>
				<!--
        			<TH>Notation</TH>
				-->
        		</TR>
        		<TR>
        			<TD>I. Anxious/Depressed</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_anxdp_raw")</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_anxdp_t")</TD>
				<!--
        			<TD>$!item.getStringProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_anxdp_note")</TD>
				-->
        		</TR>
        		<TR>
        			<TD>II. Withdrawn-Depressed</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_wthdp_raw")</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_wthdp_t")</TD>
				<!--
        			<TD>$!item.getStringProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_wthdp_note")</TD>
				-->
        		</TR>
        		<TR>
        			<TD>III. Somatic Complaints</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_som_raw")</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_som_t")</TD>
				<!--
        			<TD>$!item.getStringProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_som_note")</TD>
				-->
        		</TR>
        		<TR>
        			<TD>IV. Thought Problems</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_tho_raw")</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_tho_t")</TD>
				<!--
        			<TD>$!item.getStringProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_tho_note")</TD>
				-->
        		</TR>
        		<TR>
        			<TD>V. Attention Problems</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_att_raw")</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_att_t")</TD>
				<!--
        			<TD>$!item.getStringProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_att_note")</TD>
				-->
        		</TR>
        		<TR>
        			<TD>VI. Aggressive Behavior</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_agg_raw")</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_agg_t")</TD>
				<!--
        			<TD>$!item.getStringProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_agg_note")</TD>
				-->
        		</TR>
        		<TR>
        			<TD>VII. Rule-Breaking Behaviors</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_rule_raw")</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_rule_t")</TD>
				<!--
        			<TD>$!item.getStringProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_rule_note")</TD>
				-->
        		</TR>
        		<TR>
        			<TD>VIII. Intrusive Thoughts</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_int_raw")</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_int_t")</TD>
				<!--
        			<TD>$!item.getStringProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_int_note")</TD>
				-->
        		</TR>							
        		<TR>
        			<TD>Other Problems</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_other_raw")</TD>
        			<TD style="text-align:center"></TD>
        			<TD></TD>
        		</TR>							
        		<TR>
        			<TD>Critical Items Sum</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRSyndromeScores/ASR_critical_raw")</TD>
        			<TD style="text-align:center"></TD>
        			<TD></TD>
        		</TR>							
	    		</TABLE>
    		</TD>
	</TR>

	<TR>
		<TH colspan=2 align="left" style='font-size:large'><br>ASR DSM-Oriented Scale Computed Scores<br></TH>
	</TR>
	<TR>
		<TD colspan=2>
			<TABLE>
        		<TR>
        			<TH colspan=4 align=left style='font-size:small;padding-top:10px;padding-bottom:10px'>Problem Category Scores</TH>
        		</TR>
        		<TR>
        			<TH align="left">Description</TH>
        			<TH>Raw Score</TH>
        			<TH>T-Score</TH>
				<!--
        			<TH>Notation</TH>
				-->
        		</TR>
        		<TR>
        			<TD>1. Depressive Problems</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRDsmScores/DSM_dep_raw")</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRDsmScores/DSM_dep_t")</TD>
				<!--
        			<TD>$!item.getStringProperty("gur:GURScoringData/ASR/ASRDsmScores/DSM_dep_note")</TD>
				-->
        		</TR>
        		<TR>
        			<TD>2. Anxiety Problems</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRDsmScores/DSM_anx_raw")</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRDsmScores/DSM_anx_t")</TD>
				<!--
        			<TD>$!item.getStringProperty("gur:GURScoringData/ASR/ASRDsmScores/DSM_anx_note")</TD>
				-->
        		</TR>
        		<TR>
        			<TD>3. Somatic Problems</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRDsmScores/DSM_som_raw")</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRDsmScores/DSM_som_t")</TD>
				<!--
        			<TD>$!item.getStringProperty("gur:GURScoringData/ASR/ASRDsmScores/DSM_som_note")</TD>
				-->
        		</TR>
        		<TR>
        			<TD>4. Avoidant Personality Problems</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRDsmScores/DSM_avoid_raw")</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRDsmScores/DSM_avoid_t")</TD>
				<!--
        			<TD>$!item.getStringProperty("gur:GURScoringData/ASR/ASRDsmScores/DSM_avoid_note")</TD>
				-->
        		</TR>
        		<TR>
        			<TD>5. AD/H Problems</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRDsmScores/DSM_adh_raw")</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRDsmScores/DSM_adh_t")</TD>
				<!--
        			<TD>$!item.getStringProperty("gur:GURScoringData/ASR/ASRDsmScores/DSM_adh_note")</TD>
				-->
        		</TR>
        		<TR>
        			<TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5a. Inattention</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRDsmScores/DSM_inatt_raw")</TD>
				<!--
        			<TD>$!item.getStringProperty("gur:GURScoringData/ASR/ASRDsmScores/DSM_inatt_note")</TD>
				-->
        		</TR>
        		<TR>
        			<TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5b. Hyperactivity-Impulsivity</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRDsmScores/DSM_hyp_raw")</TD>
				<!--
        			<TD>$!item.getStringProperty("gur:GURScoringData/ASR/ASRDsmScores/DSM_hyp_note")</TD>
				-->
        		</TR>
        		<TR>
        			<TD>6. Antisocial Personality Problems</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRDsmScores/DSM_asoc_raw")</TD>
        			<TD style="text-align:center">$!item.getIntegerProperty("gur:GURScoringData/ASR/ASRDsmScores/DSM_asoc_t")</TD>
				<!--
        			<TD>$!item.getStringProperty("gur:GURScoringData/ASR/ASRDsmScores/DSM_asoc_note")</TD>
				-->
        		</TR>
	    		</TABLE>
    		</TD>
	</TR>

						</TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END gur:GURScoringData -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")




