<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ 2012..2015])
#set($rating = [ 1..10 ])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">HCP Participant Satisfaction Survey</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								#parse("/screens/xnat_edit_subjectAssessorData.vm")
							</TD></TR>
							<tr><TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD></tr>

							<TR><TD>Date:</TD><TD>#xdatDateBox("hcp:surveyData/date" $item $vr $years)</TD></TR>
							<TR><TD>Rater:</TD><TD>#xdatStringBoxOnChange("hcp:surveyData/rater" $item "" "" $vr "")</TD></TR>
							<tr><td>&nbsp;</td></tr>

							<tr><td><b>1.</b></td><td><b>How would you rate your experience while participating in the Human Connectome Project?</b></td></tr>
							<tr><td> </td><td>Rating: #hcpStringBoxOnChange("hcp:surveyData/experience/scale" $item "" "rangeWarning" $vr 1)</td></tr>
							<tr><td> </td><td>Comment:</td></tr>
							<tr><td> </td><td>#xdatTextArea("hcp:surveyData/experience/comment" $item "" $vr 3 73)</td></tr>
							<tr><td>&nbsp;</td></tr>

							<tr><td><b>2.</b></td><td><b>How would you rate communication with HCP staff?</b></td></tr>
							<TR><td> </td><TD>Rating: #hcpStringBoxOnChange("hcp:surveyData/communication/scale" $item "" "rangeWarning" $vr 1)</TD></TR>
							<tr><td> </td><td>Comment:</td></tr>
							<tr><td> </td><TD>#xdatTextArea("hcp:surveyData/communication/comment" $item "" $vr 3 73)</TD></tr>
							<tr><td>&nbsp;</td></tr>
							#set ($project = $item.getStringProperty("hcp:surveyData/project"))
							#if ($project == "HCP_Phase2" || $project == "Phase2_Retest")
								<tr><td><b>3.</b></td><td><b>How would you describe the accommodations provided to you during your stay in St. Louis? Please include travel, experience at Parkway Hotel, etc.</b></td></tr>
							#elseif ($item.getStringProperty("hcp:surveyData/project") == "Phase2_7T")
								<tr><td><b>3.</b></td><td><b>How would you describe the accommodations provided to you during your stay in Minneapolis? Please include travel, experience at Days Inn Hotel, etc.</b></td></tr>
							#end<TR><td> </td><TD>Rating: #hcpStringBoxOnChange("hcp:surveyData/accommodations/scale" $item "" "rangeWarning" $vr 1)</TD></TR>
							<tr><td> </td><TD>Comment:</TD></tr>
							<tr><td> </td><TD>#xdatTextArea("hcp:surveyData/accommodations/comment" $item "" $vr 3 73)</TD></tr>
							<tr><td>&nbsp;</td></tr>

							<tr><td><b>4.</b></td><td><b>How likely are you to recommend the Human Connectome Project to family or friends who may be eligible?</b></td></tr>
							<TR><td> </td><TD>Rating: #hcpStringBoxOnChange("hcp:surveyData/recommend/scale" $item "" "rangeWarning" $vr 1)</TD></TR>
							<tr><td> </td><TD>Comment:</TD></tr>
							<tr><td> </td><TD>#xdatTextArea("hcp:surveyData/recommend/comment" $item "" $vr 3 73)</TD></tr>
							<tr><td>&nbsp;</td></tr>

							<tr><td><b>5.</b></td><td><b>Finally, do you have any suggestions or recommendations to improve the experience for future participants<br>in the HCP Study?</b></td></tr>
							<tr><td> </td><TD>Comment:</TD></tr>
							<tr><td> </td><TD>#xdatTextArea("hcp:surveyData/suggestions/comment" $item "" $vr 3 73)</TD></tr>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>

	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD style="padding-left:20px"><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm() {
	var experience = parseFloat(document.getElementById("hcp:surveyData/experience/scale").value);
	var communication = parseFloat(document.getElementById("hcp:surveyData/communication/scale").value);
	var accommodations = parseFloat(document.getElementById("hcp:surveyData/accommodations/scale").value);
	var recommend = parseFloat(document.getElementById("hcp:surveyData/recommend/scale").value);

	if (experience < 1 || experience > 10 ||
		communication < 1 || communication > 10 ||
		accommodations < 1 || accommodations > 10 ||
		recommend < 1 || recommend > 10) {

		result = window.confirm("There is a scale value out of range (1-10). Are you sure you want to continue?");

		if (result == true) {
			validateSubjectAssessorForm();
		}
	} else {
		validateSubjectAssessorForm();
		return true;
	}
	return false;
}

function rangeWarning() {
	var experience = parseFloat(document.getElementById("hcp:surveyData/experience/scale").value);
	var communication = parseFloat(document.getElementById("hcp:surveyData/communication/scale").value);
	var accommodations = parseFloat(document.getElementById("hcp:surveyData/accommodations/scale").value);
	var recommend = parseFloat(document.getElementById("hcp:surveyData/recommend/scale").value);

	if (experience < 1 || experience > 10) {
		document.getElementById("hcp:surveyData/experience/scale").style.background = "#fcc";
		//document.getElementById("bp_warn").style.visibility="visible";
		outOfRange = true;
	} else {
		document.getElementById("hcp:surveyData/experience/scale").style.background = "";
		//document.getElementById("bp_warn").style.visibility="hidden";
	}
	if (communication < 1 || communication > 10) {
		document.getElementById("hcp:surveyData/communication/scale").style.background = "#fcc";
		outOfRange = true;
	} else {
		document.getElementById("hcp:surveyData/communication/scale").style.background = "";
	}
	if (accommodations < 1 || accommodations > 10) {
		document.getElementById("hcp:surveyData/accommodations/scale").style.background = "#fcc";
		outOfRange = true;
	} else {
		document.getElementById("hcp:surveyData/accommodations/scale").style.background = "";
	}
	if (recommend < 1 || recommend > 10) {
		document.getElementById("hcp:surveyData/recommend/scale").style.background = "#fcc";
		outOfRange = true;
	} else {
		document.getElementById("hcp:surveyData/recommend/scale").style.background = "";
	}
}

window.onload=function() {
	rangeWarning();
	/* Sets the experiment label depending on the project */
	if (document.getElementById("hcp:surveyData/label").value == undefined || document.getElementById("hcp:surveyData/label").value == "") {
		var regex = /^\d\d\d\d\d\d$/;
    	// Addition to handle experiment labeling for shared subjects between projects
    	var project = document.getElementById("hcp:surveyData/project").value;

    	if (regex.test("$part.getLabel()")) {
    		if (project == "Phase2_Retest")
    			document.getElementById("hcp:surveyData/label").value = "$part.getLabel()" + "_hcpsurvey_rt";
    		else if (project == "HCP_Phase2")
    			document.getElementById("hcp:surveyData/label").value = "$part.getLabel()" + "_hcpsurvey";
    		else if (project == "Phase2_7T")
    			document.getElementById("hcp:surveyData/label").value = "$part.getLabel()" + "_7T_hcpsurvey";
    	}
    }
};
</script>
