<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("NEORaw Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
	#set ($popup = $data.getParameters().getString("popup") )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD colspan=2>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>NEO RawData Assessment Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>


	<TR>
		<TD>
    		<TABLE width="100%">
			   <TR><TD>	
				#parse("/screens/ProjSubjExptHeader.vm")
    			</TD></TR>
               		<TR><TD>	
				
			   </TD></TR>
				<TR>
					<TD width="35%" align="left">Assessment Date</TD>
					<TD align="left">$!item.getStringProperty("nt:neo/date")</TD>
				</TR>
    		</TABLE>
        	</TD>
		<TD valign="top" align="right" style="padding-left:150px">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</TD>
	</TR>

	<TR>
		<TD colspan=2>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<br>
						<TABLE>

						<TR><TD>1. I am not a worrier.</TD> 
							<TD>$!item.getStringProperty("nt:neo/NEO_01")</TD></TR>
						<TR><TD>2. I like to have a lot of people around me.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_02")</TD></TR>
						<TR><TD>3. I don't like to waste my time daydreaming.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_03")</TD></TR>
						<TR><TD>4. I try to be courteous to everyone I meet.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_04")</TD></TR>
						<TR><TD>5. I keep my belongings clean and neat.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_05")</TD></TR>
						<TR><TD>6. I often feel inferior to others.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_06")</TD></TR>
						<TR><TD>7. I laugh easily.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_07")</TD></TR>
						<TR><TD>8. Once I find the right way to do something, I stick to it.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_08")</TD></TR>
						<TR><TD>9. I often get into arguments with my family and co-workers</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_09")</TD></TR>
						<TR><TD>10. I'm pretty good about pacing myself so as to get things done on time.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_10")</TD></TR>
						<TR><TD>11. When I'm under a great deal of stress, sometimes I feel like I'm going to pieces.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_11")</TD></TR>
						<TR><TD>12. I don't consider myself especially "lighthearted."</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_12")</TD></TR>
						<TR><TD>13. I am intrigued by the patterns I find in art and nature.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_13")</TD></TR>
						<TR><TD>14. Some people think I'm selfish and egotistical.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_14")</TD></TR>
						<TR><TD>15. I am not a very methodical person.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_15")</TD></TR>
						<TR><TD>16. I rarely feel lonely or blue.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_16")</TD></TR>
						<TR><TD>17. I really enjoy talking to people.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_17")</TD></TR>
						<TR><TD>18. I believe letting students hear controversial speaakers can only confuse and mislead them.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_18")</TD></TR>
						<TR><TD>19. I would rather cooperate with others than compete with them.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_19")</TD></TR>
						<TR><TD>20. I try to perform all the tasks assigned to me conscientiously.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_20")</TD></TR>
						<TR><TD>21. I often feel tense and jittery.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_21")</TD></TR>
						<TR><TD>22.  I like to be where the action is.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_22")</TD></TR>
						<TR><TD>23. Poetry has little or no effect on me.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_23")</TD></TR>
						<TR><TD>24. I tend to be cynical and skeptical of other's intentions.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_24")</TD></TR>
						<TR><TD>25. I have a clear set of goals and work toward them in an orderly fashion.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_25")</TD></TR>
						<TR><TD>26. Sometimes I feel completely worthless.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_26")</TD></TR>
						<TR><TD>27. I usually prefer to do things alone.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_27")</TD></TR>
						<TR><TD>28. I often try new and foreign foods.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_28")</TD></TR>
						<TR><TD>29. I believe that most people will take advantage of you if you let them.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_29")</TD></TR>
						<TR><TD>30. I waste a lot of time befre settling down to work.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_30")</TD></TR>
						<TR><TD>31. I rarely feel fearful or anxious.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_31")</TD></TR>
						<TR><TD>32. I often feel as if I am bursting with energy.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_32")</TD></TR>
						<TR><TD>33. I seldom notice the moods or feelings that different environments produce.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_33")</TD></TR>
						<TR><TD>34. Most people I know like me.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_34")</TD></TR>
						<TR><TD>35. I work hard to accomplish my goals.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_35")</TD></TR>
						<TR><TD>36. I often get angry at the way people treat me.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_36")</TD></TR>
						<TR><TD>37. I am a cheerful, hight-spirited person.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_37")</TD></TR>
						<TR><TD>38. I believe we should look to our religious authorities for decisions on moral issues.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_38")</TD></TR>
						<TR><TD>39. Some people think of me as cold and calculating.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_39")</TD></TR>
						<TR><TD>40. When I make a commitment, I can always be counted on to follow through.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_40")</TD></TR>
						<TR><TD>41. Too often, when things go wrong, I get discouraged and feel like giving up.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_41")</TD></TR>
						<TR><TD>42. I am not a cheerful optimist.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_42")</TD></TR>
						<TR><TD>43. Sometimes when I am reading poetry or looking at a work of art, I feel a chill or wave of excitement.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_43")</TD></TR>
						<TR><TD>44. I'm hard-headed and tough-minded in my attitudes.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_44")</TD></TR>
						<TR><TD>45. Sometimes I'm not s dependable or reliable as I should be.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_45")</TD></TR>
						<TR><TD>46. I am seldom sad or depressed.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_46")</TD></TR>
						<TR><TD>47. My life is fast-paced.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_47")</TD></TR>
						<TR><TD>48. I have little interest in speculating on the nature of the universe or the human condition.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_48")</TD></TR>
						<TR><TD>49.  I generally try to be thoughtful and considerate.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_49")</TD></TR>
						<TR><TD>50. I am a productive person who always gets the job done.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_50")</TD></TR>
						<TR><TD>51. I often feel helpless and want someone else to solve my problems.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_51")</TD></TR>
						<TR><TD>52. I am a very active person.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_52")</TD></TR>
						<TR><TD>53. I have a lot of intellectual curiosity.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_53")</TD></TR>
						<TR><TD>54. If I don't like people, I let them know it.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_54")</TD></TR>
						<TR><TD>55. I never seem to be able to get organized.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_55")</TD></TR>
						<TR><TD>56. At times I have been so ashamed I just wanted to hide.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_56")</TD></TR>
						<TR><TD>57. I would rather go my own way than be a leader of others.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_57")</TD></TR>
						<TR><TD>58. I often enjoy playing with theories or abstract ideas.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_58")</TD></TR>
						<TR><TD>59. If necessary, I am willing to manipulate people.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_59")</TD></TR>
						<TR><TD>60. I strive for excellence in everything I do.</TD>
							<TD>$!item.getStringProperty("nt:neo/NEO_60")</TD></TR>

						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>

</TABLE>

