<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ 2010..1900])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifyItem")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">AutomaticSegmentation Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								<hr>
								#parse("/screens/xnat_edit_experimentData.vm")
								<HR></TD></TR>
							<tr>
								<th align="left">AutomaticSegmentation ID</th>
								<TD align="left">#xdatStringBox("fs:automaticSegmentationData.ID" $item "" $vr)</TD>
							</tr>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							<TR><TD>imageSession_ID</TD><TD>#xdatStringBox("fs:automaticSegmentationData/imageSession_ID" $item "" $vr)</TD></TR>
							<TR><TD>date</TD><TD>#xdatDateBox("fs:automaticSegmentationData/date" $item $vr $years)</TD></TR>
							<TR><TD>time</TD><TD>#xdatTextBox("fs:automaticSegmentationData/time" $item "" $vr)</TD></TR>
							<TR><TD>duration</TD><TD>#xdatTextBox("fs:automaticSegmentationData/duration" $item "" $vr)</TD></TR>
							<TR><TD>delay</TD><TD>#xdatTextBox("fs:automaticSegmentationData/delay" $item "" $vr)</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>#xdatStringBox("fs:automaticSegmentationData/delay/ref_expt_id" $item "" $vr)</TD></TR>
							<TR><TD>note</TD><TD>#xdatStringBox("fs:automaticSegmentationData/note" $item "" $vr)</TD></TR>
							<TR><TD>acquisition_site</TD><TD>#xdatStringBox("fs:automaticSegmentationData/acquisition_site" $item "" $vr)</TD></TR>
							<TR><TD>visit_id</TD><TD>#xdatStringBox("fs:automaticSegmentationData/visit_id" $item "" $vr)</TD></TR>
							<TR><TD>label</TD><TD>#xdatStringBox("fs:automaticSegmentationData/label" $item "" $vr)</TD></TR>
							<TR><TD>ICV</TD><TD>#xdatTextBox("fs:automaticSegmentationData/ICV" $item "" $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN fs:automaticSegmentationData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_1_COUNTER in [0..5])
<!-- BEGIN fs:automaticSegmentationData/in/file[$xnat_abstractResource_1_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:automaticSegmentationData/in/file[$xnat_abstractResource_1_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("fs:automaticSegmentationData/in/file[$xnat_abstractResource_1_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("fs:automaticSegmentationData/in/file[$xnat_abstractResource_1_COUNTER]/label" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("fs:automaticSegmentationData/in/file[$xnat_abstractResource_1_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN fs:automaticSegmentationData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:automaticSegmentationData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_2_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("fs:automaticSegmentationData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("fs:automaticSegmentationData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("fs:automaticSegmentationData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END fs:automaticSegmentationData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag -->
								</TABLE>
<!-- END fs:automaticSegmentationData/in/file[$xnat_abstractResource_1_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_2_COUNTER in [0..5])
<!-- BEGIN fs:automaticSegmentationData/out/file[$xnat_abstractResource_2_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:automaticSegmentationData/out/file[$xnat_abstractResource_2_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("fs:automaticSegmentationData/out/file[$xnat_abstractResource_2_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("fs:automaticSegmentationData/out/file[$xnat_abstractResource_2_COUNTER]/label" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("fs:automaticSegmentationData/out/file[$xnat_abstractResource_2_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN fs:automaticSegmentationData/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:automaticSegmentationData/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_3_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("fs:automaticSegmentationData/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("fs:automaticSegmentationData/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("fs:automaticSegmentationData/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END fs:automaticSegmentationData/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag -->
								</TABLE>
<!-- END fs:automaticSegmentationData/out/file[$xnat_abstractResource_2_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
<!-- BEGIN fs:automaticSegmentationData/parameters/addParam -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:automaticSegmentationData/parameters/addParam</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>addField</TD>
								<TD>name</TD>
							</TR>
							#foreach($xnat_addField_3_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("fs:automaticSegmentationData/parameters/addParam[$xnat_addField_3_COUNTER]/addField" $item "" $vr)</TD>
									<TD>#xdatTextBox("fs:automaticSegmentationData/parameters/addParam[$xnat_addField_3_COUNTER]/name" $item "" $vr)</TD>
									#xdatHiddenBox("fs:automaticSegmentationData/parameters/addParam[$xnat_addField_3_COUNTER]/xnat_addField_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END fs:automaticSegmentationData/parameters/addParam -->
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN fs:automaticSegmentationData/provenance -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:automaticSegmentationData/provenance</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
																#xdatHiddenBox("fs:automaticSegmentationData/provenance/prov_process_id" $item "")
									</TABLE>
								</TD>
							</TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE><TR><TD>
										#foreach($prov_processStep_4_COUNTER in [0..5])
<!-- BEGIN fs:automaticSegmentationData/provenance/processStep[$prov_processStep_4_COUNTER] -->
											<TABLE>
												<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:automaticSegmentationData/provenance/processStep[$prov_processStep_4_COUNTER]</font></TH></TR>
												<TR>
													<TD align="left" valign="top">
														<TABLE>
															<TR><TD>program</TD><TD>#xdatStringBox("fs:automaticSegmentationData/provenance/processStep[$prov_processStep_4_COUNTER]/program" $item "" $vr)</TD></TR>
															<TR><TD>program/version</TD><TD>#xdatStringBox("fs:automaticSegmentationData/provenance/processStep[$prov_processStep_4_COUNTER]/program/version" $item "" $vr)</TD></TR>
															<TR><TD>program/arguments</TD><TD>#xdatStringBox("fs:automaticSegmentationData/provenance/processStep[$prov_processStep_4_COUNTER]/program/arguments" $item "" $vr)</TD></TR>
															<TR><TD>timestamp</TD><TD>#xdatTextBox("fs:automaticSegmentationData/provenance/processStep[$prov_processStep_4_COUNTER]/timestamp" $item "" $vr)</TD></TR>
															<TR><TD>cvs</TD><TD>#xdatStringBox("fs:automaticSegmentationData/provenance/processStep[$prov_processStep_4_COUNTER]/cvs" $item "" $vr)</TD></TR>
															<TR><TD>user</TD><TD>#xdatStringBox("fs:automaticSegmentationData/provenance/processStep[$prov_processStep_4_COUNTER]/user" $item "" $vr)</TD></TR>
															<TR><TD>machine</TD><TD>#xdatStringBox("fs:automaticSegmentationData/provenance/processStep[$prov_processStep_4_COUNTER]/machine" $item "" $vr)</TD></TR>
															<TR><TD>platform</TD><TD>#xdatStringBox("fs:automaticSegmentationData/provenance/processStep[$prov_processStep_4_COUNTER]/platform" $item "" $vr)</TD></TR>
															<TR><TD>platform/version</TD><TD>#xdatStringBox("fs:automaticSegmentationData/provenance/processStep[$prov_processStep_4_COUNTER]/platform/version" $item "" $vr)</TD></TR>
															<TR><TD>compiler</TD><TD>#xdatStringBox("fs:automaticSegmentationData/provenance/processStep[$prov_processStep_4_COUNTER]/compiler" $item "" $vr)</TD></TR>
															<TR><TD>compiler/version</TD><TD>#xdatStringBox("fs:automaticSegmentationData/provenance/processStep[$prov_processStep_4_COUNTER]/compiler/version" $item "" $vr)</TD></TR>
																					#xdatHiddenBox("fs:automaticSegmentationData/provenance/processStep[$prov_processStep_4_COUNTER]/prov_processStep_id" $item "")
														</TABLE>
													</TD>
												</TR>
<!-- BEGIN fs:automaticSegmentationData/provenance/processStep[$prov_processStep_4_COUNTER]/library -->
												<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:automaticSegmentationData/provenance/processStep[$prov_processStep_4_COUNTER]/library</font></TH></TR>
												<TR>
													<TD align="left" valign="top">
														<TABLE>
															<TR>
																<TD>library</TD>
																<TD>version</TD>
															</TR>
															#foreach($prov_processStep_library_5_COUNTER in [0..5])
																<TR>
																	<TD>#xdatTextBox("fs:automaticSegmentationData/provenance/processStep[$prov_processStep_4_COUNTER]/library[$prov_processStep_library_5_COUNTER]/library" $item "" $vr)</TD>
																	<TD>#xdatTextBox("fs:automaticSegmentationData/provenance/processStep[$prov_processStep_4_COUNTER]/library[$prov_processStep_library_5_COUNTER]/version" $item "" $vr)</TD>
																	#xdatHiddenBox("fs:automaticSegmentationData/provenance/processStep[$prov_processStep_4_COUNTER]/library[$prov_processStep_library_5_COUNTER]/prov_processStep_library_id" $item "")
																</TR>
															#end
														</TABLE>
													</TD>
												</TR>
<!-- END fs:automaticSegmentationData/provenance/processStep[$prov_processStep_4_COUNTER]/library -->
											</TABLE>
<!-- END fs:automaticSegmentationData/provenance/processStep[$prov_processStep_4_COUNTER] -->
										#end
									</TD></TR></TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END fs:automaticSegmentationData/provenance -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN fs:automaticSegmentationData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:automaticSegmentationData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>#xdatStringBox("fs:automaticSegmentationData/investigator/title" $item "" $vr)</TD></TR>
										<TR><TD>firstname</TD><TD>#xdatStringBox("fs:automaticSegmentationData/investigator/firstname" $item "" $vr)</TD></TR>
										<TR><TD>lastname</TD><TD>#xdatStringBox("fs:automaticSegmentationData/investigator/lastname" $item "" $vr)</TD></TR>
										<TR><TD>institution</TD><TD>#xdatStringBox("fs:automaticSegmentationData/investigator/institution" $item "" $vr)</TD></TR>
										<TR><TD>department</TD><TD>#xdatStringBox("fs:automaticSegmentationData/investigator/department" $item "" $vr)</TD></TR>
										<TR><TD>email</TD><TD>#xdatStringBox("fs:automaticSegmentationData/investigator/email" $item "" $vr)</TD></TR>
										<TR><TD>phone</TD><TD>#xdatStringBox("fs:automaticSegmentationData/investigator/phone" $item "" $vr)</TD></TR>
										<TR><TD>ID</TD><TD>#xdatStringBox("fs:automaticSegmentationData/investigator/ID" $item "" $vr)</TD></TR>
																#xdatHiddenBox("fs:automaticSegmentationData/investigator/xnat_investigatorData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END fs:automaticSegmentationData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN fs:automaticSegmentationData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:automaticSegmentationData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>#xdatStringBox("fs:automaticSegmentationData/validation/method" $item "" $vr)</TD></TR>
										<TR><TD>date</TD><TD>#xdatDateBox("fs:automaticSegmentationData/validation/date" $item $vr $years)</TD></TR>
										<TR><TD>notes</TD><TD>#xdatStringBox("fs:automaticSegmentationData/validation/notes" $item "" $vr)</TD></TR>
										<TR><TD>status</TD><TD>#xdatStringBox("fs:automaticSegmentationData/validation/status" $item "" $vr)</TD></TR>
																#xdatHiddenBox("fs:automaticSegmentationData/validation/xnat_validationData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END fs:automaticSegmentationData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_7_COUNTER in [0..5])
<!-- BEGIN fs:automaticSegmentationData/resources/resource[$xnat_abstractResource_7_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:automaticSegmentationData/resources/resource[$xnat_abstractResource_7_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("fs:automaticSegmentationData/resources/resource[$xnat_abstractResource_7_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("fs:automaticSegmentationData/resources/resource[$xnat_abstractResource_7_COUNTER]/label" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("fs:automaticSegmentationData/resources/resource[$xnat_abstractResource_7_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN fs:automaticSegmentationData/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:automaticSegmentationData/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_8_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("fs:automaticSegmentationData/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag[$xnat_abstractResource_tag_8_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("fs:automaticSegmentationData/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag[$xnat_abstractResource_tag_8_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("fs:automaticSegmentationData/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag[$xnat_abstractResource_tag_8_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END fs:automaticSegmentationData/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag -->
								</TABLE>
<!-- END fs:automaticSegmentationData/resources/resource[$xnat_abstractResource_7_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
<!-- BEGIN fs:automaticSegmentationData/fields/field -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:automaticSegmentationData/fields/field</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>field</TD>
								<TD>name</TD>
							</TR>
							#foreach($xnat_experimentData_field_8_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("fs:automaticSegmentationData/fields/field[$xnat_experimentData_field_8_COUNTER]/field" $item "" $vr)</TD>
									<TD>#xdatTextBox("fs:automaticSegmentationData/fields/field[$xnat_experimentData_field_8_COUNTER]/name" $item "" $vr)</TD>
									#xdatHiddenBox("fs:automaticSegmentationData/fields/field[$xnat_experimentData_field_8_COUNTER]/xnat_experimentData_field_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END fs:automaticSegmentationData/fields/field -->
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_volumetricRegion_8_COUNTER in [0..5])
<!-- BEGIN fs:automaticSegmentationData/regions/region[$xnat_volumetricRegion_8_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:automaticSegmentationData/regions/region[$xnat_volumetricRegion_8_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>name</TD><TD>#xdatStringBox("fs:automaticSegmentationData/regions/region[$xnat_volumetricRegion_8_COUNTER]/name" $item "" $vr)</TD></TR>
												<TR><TD>units</TD><TD>#xdatStringBox("fs:automaticSegmentationData/regions/region[$xnat_volumetricRegion_8_COUNTER]/units" $item "" $vr)</TD></TR>
												<TR><TD>voxels</TD><TD>#xdatTextBox("fs:automaticSegmentationData/regions/region[$xnat_volumetricRegion_8_COUNTER]/voxels" $item "" $vr)</TD></TR>
												<TR><TD>hemisphere</TD><TD>#xdatStringBox("fs:automaticSegmentationData/regions/region[$xnat_volumetricRegion_8_COUNTER]/hemisphere" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("fs:automaticSegmentationData/regions/region[$xnat_volumetricRegion_8_COUNTER]/xnat_volumetricRegion_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN fs:automaticSegmentationData/regions/region[$xnat_volumetricRegion_8_COUNTER]/subregions/subregion -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:automaticSegmentationData/regions/region[$xnat_volumetricRegion_8_COUNTER]/subregions/subregion</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>name</TD>
													<TD>voxels</TD>
												</TR>
												#foreach($xnat_volumetricRegion_subregion_9_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("fs:automaticSegmentationData/regions/region[$xnat_volumetricRegion_8_COUNTER]/subregions/subregion[$xnat_volumetricRegion_subregion_9_COUNTER]/name" $item "" $vr)</TD>
														<TD>#xdatTextBox("fs:automaticSegmentationData/regions/region[$xnat_volumetricRegion_8_COUNTER]/subregions/subregion[$xnat_volumetricRegion_subregion_9_COUNTER]/voxels" $item "" $vr)</TD>
														#xdatHiddenBox("fs:automaticSegmentationData/regions/region[$xnat_volumetricRegion_8_COUNTER]/subregions/subregion[$xnat_volumetricRegion_subregion_9_COUNTER]/xnat_volumetricRegion_subregion_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END fs:automaticSegmentationData/regions/region[$xnat_volumetricRegion_8_COUNTER]/subregions/subregion -->
								</TABLE>
<!-- END fs:automaticSegmentationData/regions/region[$xnat_volumetricRegion_8_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END fs:automaticSegmentationData -->
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   validateExperimentForm();
   return false;
}
</script>
