##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<HTML>
<HEAD>
<TITLE>$!systemName</TITLE>
$navigation.setTemplate("/HeaderIncludes.vm")
<script type="text/javascript" LANGUAGE="JavaScript" src="$content.getURI('scripts/HCPForm.js')"></SCRIPT>
<script type="text/javascript">

function formDisplay(ele) {
	switch(ele.value) {
		case "INTK":
			showForms(["IntakeForm"]);
			hideForms(["MMSEForm","PSQIForm","ASQForm","InclExclForm","ExitInterview", "ASQ2Form","ASQ3Form","ASQ4Form"]);
			break;
		case "MMSE":
			showForms(["MMSEForm"]);
			hideForms(["IntakeForm","PSQIForm","ASQForm","InclExclForm","ExitInterview", "ASQ2Form","ASQ3Form","ASQ4Form"]);
			break;
		case "PSQI":
			showForms(["PSQIForm"]);
			hideForms(["IntakeForm","MMSEForm","ASQForm","InclExclForm","ExitInterview", "ASQ2Form","ASQ3Form","ASQ4Form"]);
			break;
		case "ASQ":
			showForms(["ASQForm", "ASQ2Form", "ASQ3Form", "ASQ4Form"]);
			hideForms(["IntakeForm","PSQIForm","MMSEForm","InclExclForm","ExitInterview"]);
            hideOtherASQ();
			break;
		case "INEX":
			showForms(["InclExclForm"]);
			hideForms(["IntakeForm","PSQIForm","ASQForm","MMSEForm","ExitInterview", "ASQ2Form","ASQ3Form","ASQ4Form"]);
			break;
		case "EXIT":
			showForms(["ExitInterview"]);
			hideForms(["IntakeForm","PSQIForm","ASQForm","InclExclForm","MMSEForm", "ASQ2Form","ASQ3Form","ASQ4Form"]);
			break;
		default:
			showForms(["IntakeForm","MMSEForm","PSQIForm","ASQForm","ASQ2Form","InclExclForm","ExitInterview","ASQ3Form","ASQ4Form"]);
	}
}
function hideForms(arr) {
	for (var i=0;i<arr.length;i++) {
		document.getElementById(arr[i]).style.display="none";
	}
}
function showForms(arr) {
	for (var i=0;i<arr.length;i++) {
		document.getElementById(arr[i]).style.display="block";
	}
}
function toggleHeader(ele) {
	if (ele.checked) {
		document.getElementById("FormHeader").style.display="none";
	} else {
		document.getElementById("FormHeader").style.display="block";
	}
}
function showValidation() {
	document.getElementById("page-mask").style.display="block";
	// Workaround for Firefox hidden layered image issue
	showFormValidationImages();
	document.getElementById("v_container").style.visibility="visible";
}
function hideValidation() {
	document.getElementById("page-mask").style.display="none";
	document.getElementById("v_container").style.visibility="hidden";
	// Workaround for Firefox hidden layered image issue
	hideFormValidationImages();
}
var img_cr = "$content.getURI("images/cr.gif")";
var img_cg = "$content.getURI("images/cg.gif")";
var val_intake = [];
var val_mmse = [];
var val_psqi = [];
var val_asq = [];
var val_inclexcl = [];
var val_exit = [];
</script>
</HEAD>


<BODY id="page_body" class="yui-skin-sam">

##<div style="width:100%;z-index:1000;background-color:#FFFFFF;position:fixed;top:0px;left:0px;height:55px"> 
##
##<table height="100%" width="100%" border="0" >
##  <tr ID="DefaultTopTR">
##   <td height="60px">
##      $navigation.setTemplate("/DefaultTopNoImage.vm")
##      <div id="tp_fm"></div>
##   </td>
##  </tr>
##</table>
##
##</div>
##<div style="width:100%;z-index:1000;background-color:#EEEEEE;position:fixed;top:60px;left:0px;height:55px;"> 
<div id="page-mask" class="pm"></div>

<script src="$content.getURI("scripts/timeLeft.js")"></script>
<div style="width:100%;background-color:#EEEEEE;position:fixed;top:0px;left:0px;height:10px">
    #if($last_login)
            <span id="last_login">Last login: $turbineUtils.formatDateTime($last_login)</span>
    #end
    #if($data.getSession().getAttribute("user").getUsername()=="guest")
            <span id="user_info">Logged in as: <span style="color:red;">Guest</span> <b>|</b> <a href="$link.setPage("Login.vm")">Login</a> <b>|</b> <a href="$link.setPage("Register.vm")">Register</a></span>
    #elseif($data.getSession().getAttribute("user").getUsername())
           ## use default timeout value from web.xml as the starting text in the "#timeLeft" element
           <span id="user_info">Logged in as: &nbsp;<a href="$link.setPage("XDATScreen_MyXNAT.vm")">$!data.getSession().getAttribute("user").getUsername()</a> <b>|</b><span class="tip_icon" style="margin-right:3px;left:2px;top:3px;">
           <span class="tip shadowed" style="top:20px;z-index:10000;white-space:normal;left:-150px;width:300px;background-color:#ffc;">Your XNAT session will auto-logout after a certain period of inactivity. You can reset that timer without reloading the page by clicking "renew."</span>
           </span>
           Auto-logout in: <b id="timeLeft">0:15:00</b> - <a id="timeLeftRenew" href="javascript:;" onClick="handleOk();">renew</a> <b>|</b> <a id="logout_user" href="$link.setAction("LogoutUser")">Logout</a></span>
    #end
</div>
    <div style="margin-top:0px;margin-left:10px;position:fixed;top:5px;left:10px;z-index:1002">
      $navigation.setTemplate("/Breadcrumb.vm")
    </div>
<script>
  // calls function to renew session every 10 minutes
  setInterval(handleOk, 600000)
</script>

<div style="position:absolute;top:70px">
<table height="100%" width="100%" border="0" >
  <tr>

    ####  Disable left sidebar #### 
    ##<td class="leftBar" align="left" valign="top">
    ##  $navigation.setTemplate("/DefaultLeft.vm")
    ##</td>

    <td width="*" align="left" valign="top">
      <div id="layout_content2" style="display:none;">Loading...</DIV>
      <div id="layout_content">
<!--BEGIN SCREEN CONTENT -->
      $screen_placeholder
<!--END SCREEN CONTENT -->
      </DIV>
    </td>
  </tr>

  #### Disable for this screen ####
  ##<tr ID="DefaultBottomTR" height="*">
  ##  <td height="*" valign="bottom" colspan="2">
  ##    $navigation.setTemplate("/DefaultBottom.vm")
  ##  </td>
  ##</tr>

</table>
</div>
</BODY>
</HTML>
